$color-black: #000000;
$color-white: #FFFFFF;
$color-mine-shaft: #222222;
$color-emperor: #555555;
$color-yellow: #FFD338;
$color-early-down: #FFF9E8;
$color-titan-white: #F0ECFF;

$font-regular: 'Roboto Regular';
$font-light: 'Roboto Light';
$font-bold: 'Roboto Bold';
