.button {
  font-family: $font-regular;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $color-black;
  border: none;
  border-radius: 8px;

  &_yellow {
    background-color: $color-yellow;
    border: 1px solid $color-yellow;
    padding: 15px 0;
    min-width: 189px;
    text-transform: uppercase;
  }

  &_white {
    background-color: $color-white;
    border: 1px solid $color-mine-shaft;
    padding: 10px 0;
    min-width: 112px;
  }
}
